body {
    background: #fff;
    color: #aaa;
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 { margin-bottom: 50px; }

#page {
    margin: 100px auto;
    max-width: 700px;
}

#timer {
    background-color: #eee;
    border: 2px solid #999;
    border-radius: 300px;
    font-size: 1.5em;
    height: 200px;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    width: 200px;
}

button.unary-button {
    border-radius: 1em;
    color: #aaa;
    margin: 10px;
}

.cap { text-transform: capitalize; }

.fl-r { float: right; }

.inl-bl { display: inline-block; }

.marg-bot-m { margin-bottom: 20px; }
.marg-top-m { margin-top: 20px; }

.pointer { cursor: pointer; }
.pointer:disabled { cursor: auto; }

.text-bold { font-weight: bold; }
.text-cap { text-transform: capitalize; }
.text-l { font-size: 1.5em; }
.text-underline { text-decoration: underline; }
